<h1 style="color: #555; font-family: 'Trebuchet MS', Verdana, sans-serif; padding: 2px 10px 1px 0; margin: 0 0 10px 0; font-size: 2em;">
  <%= digest.name %>
</h1>

<h2 style="color: #555; font-family: 'Trebuchet MS', Verdana, sans-serif; padding: 2px 10px 1px 0; margin: 0 0 10px 0; font-size: 1.4em;">
  <%= t :text_digest,
          :recurrent => t(digest.recurrent, :scope => 'recurrent_types'),
          :time_from => format_date(digest.time_from),
          :time_to => format_date(digest.time_to) %>
</h2>

<% if digest.projects_count == 1 %>
  <h3 style="color: #555; font-family: 'Trebuchet MS', Verdana, sans-serif; padding: 2px 10px 1px 0; margin: 0 0 10px 0; font-size: 1.2em;">
    <%= "#{l(:field_project)}: #{digest.project_names.first}" %>
  </h3>
<% end %>

<em><%= l(:text_digest_comments) %></em>

<% digest.sorted_digest_issues.each do |status, digest_issues| %>
  <% next if digest_issues.empty? %>

  <h3 style="color: #555; font-family: 'Trebuchet MS', Verdana, sans-serif; padding: 2px 10px 1px 0; margin: 0 0 10px 0; font-size: 1.2em;">
    <%=	status %>
  </h3>

  <ul style="list-style-type: none; padding-left: 20px;">
    <% digest_issues.each do |d_issue| %>

      <%= content_tag :li do %>
        <span style="font-size: smaller; font-weight: bold; width: 1em; float: left; color: green;">
          <%= d_issue.new_issue? ? '+' : '&nbsp;'.html_safe %>
        </span>
        <%= link_to digest_issue_text(d_issue, digest.many_projects?),
                    digest_issue_url(d_issue),
                    :title => digest_issue_title(d_issue),
                    :style => 'color: #10152c; text-decoration: none;' %>
        <% if d_issue.changes_event_types.any? %>
          <p style="padding-left: 60px; margin-top: 1px; margin-bottom: 5px; font-size: smaller; opacity: 0.8;">
            <% (d_issue.changes_event_types).map do |event_type| %>
              <% if (event = d_issue.events[event_type].last) %>
                <span style="margin-left: 3px; background-color: <%= event_type_color(event_type) %>">
                  <%= link_to event.formatted_value,
                          {
                              :host => Setting.host_name,
                              :protocol => Setting.protocol,
                              :controller => 'issues',
                              :action => 'show',
                              :id => event.issue_id,
                              :anchor => "note-#{event.indice}"
                          },
                          :title => d_issue.events_summary(event_type),
                          :style => 'color: #10152c; text-decoration: none;' %>
                </span>
              <% end %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
