<% d_issue.changes_event_types.each do |event_type| %>
  <% last_user_id = nil %>
  <div style="padding: 0 0 0 30px;">
    <div style="float:left; margin:2px; width:10em; font-size: 0.7em; text-align: right;">
      <%= l(event_type, :scope => 'event_types') %>
    </div>
    <div style="float:left; margin:2px; border-left: 1px solid #e0e0e0; font-size:0.8em;">
      <ul style="list-style-type: none; padding: 0; margin: 3px">
        <% d_issue.events[event_type].each do |event| %>
          <li>
            <div style="float: left; min-width: 10em; text-align: center;">
              <% if last_user_id == event.user.id %>
                &nbsp;
              <% else %>
                <%= link_to event.user.name,
                            {
                                :host => Setting.host_name,
                                :protocol => Setting.protocol,
                                :controller => 'users',
                                :action => 'show',
                                :id => event.user.id
                            },
                            :style => 'color: #10152c; text-decoration: none;' %>
              <% end %>
              <% last_user_id = event.user.id %>
            </div>
            <div style="float: left; margin-left: 5px;">
               <%= format_time(event.created_on, digest.recurrent != DigestRule::DAILY) %>
            </div>
            <div style="float: left; margin-left: 5px;">
              <span style="margin-left: 3px;">
                <% if event_type == DigestEvent::OTHER_ATTR_CHANGED %>
                  <%= event.field_label %>:&nbsp;
                <% end %>
                <%= link_to event.formatted_value,
                          {
                              :host => Setting.host_name,
                              :protocol => Setting.protocol,
                              :controller => 'issues',
                              :action => 'show',
                              :id => event.issue_id,
                              :anchor => "note-#{event.indice}"
                          },
                          :title => d_issue.events_summary(event_type),
                          :style => 'color: #10152c; text-decoration: none;' %>
              </span>
              <% if event.old_value.present? %>
                <span style="color: #9B9B9B; text-decoration: line-through; ">
                  <%= event.formatted_old_value %>
                </span>
              <% end %>
            </div>
            <div style="clear: both"></div>
          </li>
        <%	end %>
      </ul>
    </div>
    <div style="clear:both"></div>
  </div>
<% end %>
