<%= stylesheet_link_tag 'redmine_digest', :plugin => 'redmine_digest' %>
<fieldset class="box digest-rules">
  <legend><%=l( :label_digest_rules_plural )%></legend>
  <div class="contextual">
    <%= link_to l( :new_digest_rule ), new_digest_rule_path, :class => 'icon icon-add' %>
  </div>

  <%= hidden_field_tag 'digest_rules[active_ids][]', [] %>

  <% if @user.digest_rules.any? %>
    <table class="list">
      <thead>
      <tr>
        <th><%= l( :field_active ) %></th>
        <th><%= l( :field_recurrent ) %></th>
        <th><%= l( :field_name ) %></th>
        <th width="10%"></th>
      </tr>
      </thead>
      <tbody>
      <% @user.digest_rules.each do |digest_rule| %>
        <tr>
          <td align="center">
            <%= check_box_tag 'digest_rules[active_ids][]', digest_rule.id, digest_rule.active %>
          </td>
          <td align="center"><%= l(digest_rule.recurrent, :scope => 'recurrent_types') %></td>
          <td align="center"><%= digest_rule.name %></td>
          <td class="buttons">
            <%= link_to(l(:button_edit), edit_digest_rule_path(digest_rule), :class => 'icon icon-edit') %>

            <%= link_to(l(:button_delete), digest_rule_path(digest_rule),
                        :method  => :delete,
                        :confirm => l( :text_are_you_sure ),
                        :class   => 'icon icon-del' ) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</fieldset>

<%= javascript_include_tag 'redmine_digest_unsaved', :plugin => 'redmine_digest' %>

<%= javascript_tag do %>
  $(window).load(function(){
    warnMyAccountLeavingUnsaved('<%= escape_javascript l(:text_warn_on_leaving_unsaved) %>');
  });
<% end %>
