<%
   user = User.find(224)
   digest_rule = user.digest_rules.create(
       :name => 'Testing',
       :recurrent => DigestRule::DAILY,
       :event_ids => [DigestEvent::STATUS_CHANGED,
                      DigestEvent::PERCENT_CHANGED,
                      DigestEvent::ASSIGNEE_CHANGED]
   )

   @digest = RedmineDigest::Digest.new(digest_rule, Time.new(2013,5,20,23,59,59))
   @sorted_digest_issues = ActiveSupport::OrderedHash.new
   IssueStatus.sorted.each do |status|
     iss = @digest.issues.find_all { |i| i.status_id == status.id }.sort_by(&:last_updated_on)
     @sorted_digest_issues[status] = iss
   end
%>

<h1><%= @digest.name %></h1>

<h2><%= l(:text_digest, :recurrent => @digest.digest_rule.recurrent.camelcase,
                        :date_from => @digest.date_from.to_s(:short),
                        :date_to => @digest.date_to.to_s(:short) %></h2>

<em><%= l(:text_digest_comments) %></em>

<% @sorted_digest_issues.each do |status, digest_issues| %>
  <% next if digest_issues.empty? %>

  <h3><%=	status %></h3>

  <ul>
    <% digest_issues.each do |issue| %>
      <%= content_tag :li, :class => (issue.new_issue? ? 'new-issue' : nil) do %>
        <%= link_to "##{issue.id} [#{issue.project_name}] #{issue.subject}",
                      :controller => 'issues',
                      :action => 'show',
                      :id => issue.id %>
        &nbsp;(<%= (issue.event_types - [DigestEvent::ISSUE_CREATED]).map do |event_type|

          last_event = issue.events[event_type].last
          if last_event
            summary = issue.events_summary(event_type)
            link_to(
                last_event.formatted_value,
                {
                    :controller => 'issues',
                    :action => 'show',
                    :id => issue.id,
                    :anchor => "note-#{last_event.indice}"
                },
                :title => issue.events_summary(event_type))
          else
            'WTF?'
          end
        end.join(', ').html_safe %>)
      <% end %>
    <% end %>
  </ul>
<% end %>
